body {
  background-color:#170e01;  
  height: 100%;
}
#outer-container {
  background-image:url('images/k_coffee/v_strand.png');
  background-color:#170e01;
  
}
#body {
  text-align:center;
  margin:auto;
  width:801px;

  min-height: 300px;
/*  background-color:#f9f3e6;*/
  background-color:#f8f2e5;
/*  background-color:#fff;*/
  font-family:"Times New Roman",Georgia,Serif;
  font-style:italic;
     
  background-image:url('../images/k_coffee/m_bottom_repeat.png');
  background-repeat:repeat-y;
  background-position:0px 621px;
}
a {
  text-decoration:none;
  color:brown;  

  
}

.shift_right_align_center p {
  margin:0px;
  padding:0px;
}




a:visited {
  color:brown;  
  text-decoration:none;
}
.shift_right_align_center {
  text-align:justify;
  margin-left:30px;
  margin-right:-80px;
}

#content-area form table tbody tr td input {
  font-weight:normal;
}
#content-area form table tbody tr td a.login_forgot_link {
  color:#f123f3;
  font-size:16px;
}
#content-area form table tbody tr td.errormessage_login {
  color:red;
  font-style:normal;
  font-weight:normal;
}

#top-bar {
  background-image:url('../images/k_coffee/top_bar.png');  
  width:800px;
  height:8px;    
}
#facebook_left {
  background-image:url('../images/k_coffee/facebook_left.png');  
  width:681px;
  height:55px;    
  float:left;
}
#facebook {
  background-image:url('../images/k_coffee/_facebook.png');  
  width:42px;
  height:55px;     
  float:left;
}
#facebook:hover {
  background-image:url('../images/k_coffee/facebook.png');  
}
#twitter {
  background-image:url('../images/k_coffee/_twitter.png');  
  width:45px;
  height:55px;     
  float:left;
}
#twitter:hover {
  background-image:url('../images/k_coffee/twitter.png');  
}
#facebook_right {
  background-image:url('../images/k_coffee/facebook_right.png');  
  width:32px;
  height:55px;     
  float:left;
}


#logo_left {
  background-image:url('../images/k_coffee/logo_left.png');  
  width:103px;
  height:63px;     
  float:left;
}

#logo {
  background-image:url('../images/k_coffee/logo.png');  
  width:320px;
  height:63px;     
  float:left;
}

#logo-right {
  background-image:url('../images/k_coffee/logo_right.png');  
  width:377px;
  height:63px;     
  float:left;
}

#open_new_account_left {
  background-image:url('../images/k_coffee/open_new_account_left.png');  
  width:595px;
  height:40px;     
  float:left;
}

#open_new_account {
  background-image:url('../images/k_coffee/open_new_account.png');  
  width:205px;
  height:40px;     
  float:left;
}
#open_new_account:hover {
  background-image:url('../images/k_coffee/_open_new_account.png');  
}

#profile_link {
  background-image:url('../images/k_coffee/profile_bg.png');  
  width:205px;
  height:40px;     
  float:left;
  font-size:17px;
}
#profile_link:hover {
  background-image:url('../images/k_coffee/_profile_bg.png');  
}

#profile_link p {
margin-top: 8px;
}

#search_left {
  background-image:url('../images/k_coffee/search_left.png');  
  width:178px;
  height:28px;     
  float:left;
}

#search_box {
  background-image:url('../images/k_coffee/search_box.png');  
  width:189px;
  height:28px;     
  float:left;
}

#search_button {
  background-image:url('../images/k_coffee/search_button.png');  
  width:56px;
  height:28px;     
  float:left;
}
#search_button:hover {
  background-image:url('../images/k_coffee/_search_button.png');  
}
#search_button_right {
  background-image:url('../images/k_coffee/search_button_right.png');  
  width:377px;
  height:28px;     
  float:left;
}



#login_left {
  background-image:url('../images/k_coffee/login_left.png');  
  width:681px;
  height:65px;     
  float:left;
}

#login {
  background-image:url('../images/k_coffee/login.png');  
  width:87px;
  height:65px;     
  float:left;
/*  font-weight:bold;*/
}
#login:hover {
  background-image:url('../images/k_coffee/_login.png');  
  color:#fff;
}
#login_right {
  background-image:url('../images/k_coffee/login_right.png');  
  width:32px;
  height:65px;     
  float:left;
}

#bar_above_content {
  background-image:url('../images/k_coffee/bar_above_content.png');  
  width:800px;
  height:63px;     
  float:left;
}

#m1, #m2, #m3, #m4, #m5, #m6, #m7 {
  clear:both;
  width:203px;
  height:45px;
  text-align:right;
  font-family:"Times New Roman",Georgia,Serif;
  font-style:italic;
  font-size:20px;
  margin-right:50px;
} 
#m1, #m2:hover, #m3:hover, #m4:hover, #m5:hover, #m6:hover, #m7:hover {
  text-decoration: none;
}

#m1 {
  background-image:url('../images/k_coffee/m1.png');   
}
#m1:hover {
  background-image:url('../images/k_coffee/_m1.png');   
}
#m2 {
  background-image:url('../images/k_coffee/m2.png');   
}
#m2:hover {
  background-image:url('../images/k_coffee/_m2.png');   
}
#m3 {
  background-image:url('../images/k_coffee/m3.png');   
}
#m3:hover {
  background-image:url('../images/k_coffee/_m3.png');   
}
#m4 {
  background-image:url('../images/k_coffee/m4.png');   
}
#m4:hover {
  background-image:url('../images/k_coffee/_m4.png');   
}
#m5 {
  background-image:url('../images/k_coffee/m5.png');   
}
#m5:hover {
  background-image:url('../images/k_coffee/_m5.png');   
}
#left-menu {
  width:203px;
  height:100%;
  float:left;
}
#content-area {
  float:left;
  width:480px;
  text-align:right;
  margin-top:0px;
  margin-left:0px;
  font-family:"Times New Roman",Georgia,Serif;
  text-align:justify;
  padding-left:10px;
  
  
}

#m_bottom {
  width:203px;
  height:75px;
  background-image:url('../images/k_coffee/m_bottom.png');   
}


#bottom-left-repeat {
  background-image:url('../images/k_coffee/bottom_left_repeat.png');   
  background-repeat:repeat-y;
  height:500px;
  width:203px;

}

#fund_raiser_button {
  background-image:url('../images/k_coffee/fund_raiser_button.png');   
  height:104px;
  width:146px;
  float:left;
}
#fund_raiser_button:hover {
  background-image:url('../images/k_coffee/_fund_raiser_button.png');   6
}
#equipments_big_button {
  background-image:url('../images/k_coffee/equipments_big_button.png');   
  height:104px;
  width:146px;
  float:left;
}
#equipments_big_button:hover {
  background-image:url('../images/k_coffee/_equipments_big_button.png');   
}
#search {
  border:0px;
  margin-top:4px;
}

#search_box input#search {
  color:brown;
  font-family:"Times New Roman",Georgia,Serif;
  font-size:14px;  
}
#content-area form#frmsignup table tbody tr td select {
  width:200px;
  
}
#frmsignup table tbody tr td input#fleimage {
  width:100px; 
}
h1 {
  font-family:"Times New Roman",Georgia,Serif;
  font-size:18px;
  color:#dd8b52;    
}
/*
#footer {
  position:fixed;
  left:0%;
  top:97%;
  color:#fff;
  background-color:#000;
  width:100%;
  text-align:center;
  border:1px 1px 0px 1px solid #fff;
  font-family:courier;
  font-style:normal;
  font-size:14px;
}*/

#footer { 
  width:801px;
  min-height:15px;
  padding-top:5px;
  text-align:right;
  background-color:#52201c;
  color:orange;
  font-family:courier;
  font-style:normal;
  font-size:10px;
  margin:auto;
}

#footer a{ 

 float:left;
 color:orange;
 font-family:courier;
 font-style:normal;
 font-size:11px;
 margin-left:10px;
}

#footer a:hover{ 
  font-weight:bold;
}

#footer_container {
  width:100%;
  text-align:center;
  margin:auto;
  

}
a.faq_question {

  color:grey;
  font-style:italics;
  font-weight:normal;
  font-size:16px;
  text-decoration:none;
  background-image:url('../images/k_coffee/arrow.png');
  background-repeat:no-repeat;
  background-position:0px;
  padding-left:25px;
}

.faq p {

  margin-left:25px;
}


.faq div.faq_answer {
  color:brown;
  font-size:16px;
  margin-left:50px;
 

}



