body {
  background-color:#170e01;  
}
#outer-container {
  background-image:url('images/k_coffee/v_strand.png');
  background-color:#170e01;
}
#body {
  text-align:center;
  margin:auto;
  width:801px;
  min-height:1400px;
  background-color:#f9f3e6;
/*  background-color:#fff;*/
}

#top-bar {
  background-image:url('../images/k_coffee/top_bar.png');  
  width:800px;
  height:8px;    
}
#facebook_left {
  background-image:url('../images/k_coffee/facebook_left.png');  
  width:681px;
  height:55px;    
  float:left;
}
#facebook {
  background-image:url('../images/k_coffee/_facebook.png');  
  width:42px;
  height:55px;     
  float:left;
}
#facebook:hover {
  background-image:url('../images/k_coffee/facebook.png');  
}
#twitter {
  background-image:url('../images/k_coffee/_twitter.png');  
  width:45px;
  height:55px;     
  float:left;
}
#twitter:hover {
  background-image:url('../images/k_coffee/twitter.png');  
}
#facebook_right {
  background-image:url('../images/k_coffee/facebook_right.png');  
  width:32px;
  height:55px;     
  float:left;
}




#logo_left {
  background-image:url('../images/k_coffee/logo_left.png');  
  width:103px;
  height:63px;     
  float:left;
}

#logo {
  background-image:url('../images/k_coffee/logo.png');  
  width:320px;
  height:63px;     
  float:left;
}

#logo-right {
  background-image:url('../images/k_coffee/logo_right.png');  
  width:377px;
  height:63px;     
  float:left;
}

#open_new_account_left {
  background-image:url('../images/k_coffee/open_new_account_left.png');  
  width:595px;
  height:40px;     
  float:left;
}

#open_new_account {
  background-image:url('../images/k_coffee/open_new_account.png');  
  width:205px;
  height:40px;     
  float:left;
}
#open_new_account:hover {
  background-image:url('../images/k_coffee/_open_new_account.png');  
}
#search_left {
  background-image:url('../images/k_coffee/search_left.png');  
  width:178px;
  height:28px;     
  float:left;
}

#search_box {
  background-image:url('../images/k_coffee/search_box.png');  
  width:189px;
  height:28px;     
  float:left;
}

#search_button {
  background-image:url('../images/k_coffee/search_button.png');  
  width:56px;
  height:28px;     
  float:left;
}
#search_button:hover {
  background-image:url('../images/k_coffee/_search_button.png');  
}
#search_button_right {
  background-image:url('../images/k_coffee/search_button_right.png');  
  width:377px;
  height:28px;     
  float:left;
}



#login_left {
  background-image:url('../images/k_coffee/login_left.png');  
  width:681px;
  height:65px;     
  float:left;
}

#login {
  background-image:url('../images/k_coffee/login.png');  
  width:87px;
  height:65px;     
  float:left;
}
#login:hover {
  background-image:url('../images/k_coffee/_login.png');  
}

#login_right {
  background-image:url('../images/k_coffee/login_right.png');  
  width:32px;
  height:65px;     
  float:left;
}

#bar_above_content {
  background-image:url('../images/k_coffee/bar_above_content.png');  
  width:800px;
  height:63px;     
  float:left;
}

#m1, #m2, #m3, #m4, #m5, #m6, #m7 {
  clear:both;
  width:200px;
  height:45px;
  text-align:right;
  font-family:"Times New Roman",Georgia,Serif;
  font-style:italic;
  font-size:20px;
} 
#m1, #m2:hover, #m3:hover, #m4:hover, #m5:hover, #m6:hover, #m7:hover {
  text-decoration: underline;
}

#m1 {
  background-image:url('../images/k_coffee/m1.png');   
}
#m1:hover {
  background-image:url('../images/k_coffee/_m1.png');   
}
#m2 {
  background-image:url('../images/k_coffee/m2.png');   
}
#m2:hover {
  background-image:url('../images/k_coffee/_m2.png');   
}
#m3 {
  background-image:url('../images/k_coffee/m3.png');   
}
#m3:hover {
  background-image:url('../images/k_coffee/_m3.png');   
}
#m4 {
  background-image:url('../images/k_coffee/m4.png');   
}
#m4:hover {
  background-image:url('../images/k_coffee/_m4.png');   
}
#m5 {
  background-image:url('../images/k_coffee/m5.png');   
}
#m5:hover {
  background-image:url('../images/k_coffee/_m5.png');   
}
#left-menu {
  width:235px;
  height:225px;
  height:816px;
  float:left;
}
#content-area {
  float:left;
  width:480px;
  text-align:right;
  margin-top:25px;
  margin-left:50px;
  font-family:"Times New Roman",Georgia,Serif;
  text-align:justify;
}

#m_bottom {
  width:203px;
  height:316px;
  background-image:url('../images/k_coffee/m_bottom.png');   
}


#bottom-left-repeat {
  background-image:url('../images/k_coffee/bottom_left_repeat.png');   
  background-repeat:repeat-y;
  height:500px;
  width:203px;

}

#fund_raiser_button {
  background-image:url('../images/k_coffee/fund_raiser_button.png');   
  height:102px;
  width:236px;
  float:left;
}
#fund_raiser_button:hover {
  background-image:url('../images/k_coffee/_fund_raiser_button.png');   
}
#equipments_big_button {
  background-image:url('../images/k_coffee/equipments_big_button.png');   
  height:102px;
  width:240px;
  float:left;
}
#equipments_big_button:hover {
  background-image:url('../images/k_coffee/_equipments_big_button.png');   
}
#search {
  border:0px;
  margin-top:4px;
}


/* ------------------ */

/*
#heading-left {
  width:600px;
  height:259px;
  background-image:url('../images/k_coffee/heading-left.png');
  float:left;
}
#open_my_account {
  float:left;
  width:82px;
  height:259px;
  background-image:url('../images/k_coffee/open_my_account.png'); 
}
#open_my_account:hover {
  float:left;
  width:82px;
  height:259px;
  background-image:url('../images/k_coffee/_open_my_account.png'); 
}
#login_and_profile {
  float:left;
  width:119px;
  height:257px;
}

#login {
  width:119px;
  height:132px;
  background-image:url('../images/k_coffee/login.png'); 
}
#login:hover {
  background-image:url('../images/k_coffee/_login.png'); 
}

#profile {
  width:119px;
  height:127px;
  background-image:url('../images/k_coffee/profile.png'); 
}
#profile:hover {
  background-image:url('../images/k_coffee/_profile.png'); 
}

#top_full_width {
  float:left;
  width:626px;
  height:63px;
  background-image:url('../images/k_coffee/top_full_width.png'); 
  
}
#equipments {
  float:left;
  width:174px;
  height:63px;
  background-image:url('../images/k_coffee/equipments.png');  
}
#equipments:hover {
  float:left;
  width:174px;
  height:63px;
  background-image:url('../images/k_coffee/_equipments.png');  
}


#left-menu {
  width:203px;
  height:316px;
  height:816px;
  float:left;
}

#m_bottom {
  width:203px;
  height:316px;
  background-image:url('../images/k_coffee/bottom_left.png');   
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7 {
  clear:both;
  width:203px;
  height:45px;
  text-align:right;
  font-family:"Times New Roman",Georgia,Serif;
  font-style:italic;
  font-size:20px;
} 

#m1 {
  background-image:url('../images/k_coffee/m1.png');   
}
#m1:hover {
  background-image:url('../images/k_coffee/_m1.png');   
}
#m2 {
  background-image:url('../images/k_coffee/m2.png');   
}
#m2:hover {
  background-image:url('../images/k_coffee/_m2.png');   
}
#m3 {
  background-image:url('../images/k_coffee/m3.png');   
}
#m3:hover {
  background-image:url('../images/k_coffee/_m3.png');   
}
#m4 {
  background-image:url('../images/k_coffee/m4.png');   
}
#m4:hover {
  background-image:url('../images/k_coffee/_m4.png');   
}
#m5 {
  background-image:url('../images/k_coffee/m5.png');   
}
#m5:hover {
  background-image:url('../images/k_coffee/_m5.png');   
}
#m6 {
  background-image:url('../images/k_coffee/m6.png');   
}
#m6:hover {
  background-image:url('../images/k_coffee/_m6.png');   
}
#m7 {
  background-image:url('../images/k_coffee/m7.png');   
}
#m7:hover {
  background-image:url('../images/k_coffee/_m7.png');   
}
#bottom-left {
  background-image:url('../images/k_coffee/bottom_left.png');   
  height:363px;
  width:203px;

}


h1 {
  position:absolute;
  top:220px;
  left:500px;
  color:#da863d;
  font-size:14px;
  
}


*/
