<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <title><?php if (!empty($title)) echo $title ?></title>
  <?php if (!empty($js)) echo $js ?><?php if (!empty($css)) echo $css ?>
  <head><link href="css/k_coffee.css" rel="stylesheet" type="text/css"></head>

  <body>
    <div id="outer-container">
      <div id="body">


            <div id="top-bar"></div>
    
            <div id="linked_in_left"></div>
            <a id="linked_in" href="http://www.linkedin.com"></a>
            <a id="twitter" href="http://www.twitter.com"> </a>
            <a id="facebook" href="http://www.facebook.com"> </a>
            <div id="facebook_right"></div>


            <div id="logo_left"></div>
            <div id="logo"></div>
            <div id="logo-right"></div>


            <div id="open_new_account_left"></div>
             

             <?php if ( $_SESSION[SESSION_TITLE.'userid'] > 0){ ?>
                <a id="profile_link" href = "profile.php"> <p>Profile:<?= $_SESSION[SESSION_TITLE.'username'] ?></p> </a> 

            <?php } else { ?>
                <a id="open_new_account" href = "signup.php"> </a>
            <?php } ?>


            <div id="search_left"></div>
<form name="frmsearch" id="frmsearch" method="GET" action="search_charity.php">
            <div id="search_box">
                <input   maxlength="100" name="txtcharity_name" id= "search" >
            </div>            
     
            <input id="search_button" name="submit" type="image" value="" src="images/null.png"  title="Search Charity?"  style="cursor:pointer;" />
            <input type="hidden" name="h_conf_search" value="<?php echo md5("CONF_SEARCH"); ?>">
</form>
            <div id="search_button_right"></div> 


            <div id="login_left"></div>
            <?php if ( $_SESSION[SESSION_TITLE.'userid'] > 0){ ?>
                <a id="login" href = "logout.php"><br />L o g o u t</a> 

            <?php } else { ?>
                <a id="login" href = "login.php"><br />L o g i n</a>
            <?php } ?>
            <div id="login_right"></div>


            <div id="bar_above_content"></div>

            <div id="left-menu">
<?php if (!empty($left_menu)) echo $left_menu ?>
<div id="m_bottom"></div>
            </div><!-- Menu end -->
            <div id="content-area">
<?php if (!empty($content)) echo $content;
        echo $this->plugin_output;  ?>
          

            </div>

            <div style="clear:both;"></div>

    </div><!-- body -->
  
  </div><!-- Outer container-->


  <div id="footer_container"><div id="footer">

<a href="privacy_policy.php">Privacy Policy</a>
<a href="terms_of_use.php">Terms of Use</a>
<a href="disclaimer.php">Disclaimer</a>
<a href="faq.php">FAQ</a>
<a href="sitemap.php">Site Map</a>   &copy; KaffaKarma.com. All rights reserved.</div></div>


</body>

</html>
