<html>
  <title><?php if (!empty($title)) echo $title ?></title>
  <?php if (!empty($js)) echo $js ?><?php if (!empty($css)) echo $css ?>
  <head>
    <link href="../css/k_coffee_sub_site.css" rel="stylesheet" type="text/css">
    <link href="../css/item.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="outer-container">
      <div id="body">


            <div id = "logo"></div>
            <div id = "sub_site_logo">
                    <div id="sub_site_logo_inside">
                        <img src="<?php echo $user_image?>">

                        <!-- SUB SITE LOGO HERE -->

                    </div>
            </div>

            <div id = "top_right">
              <div id = "top_right_1"> </div>
              <div id = "top_right_2"><!-- Profile --></div>
            </div>
        
              <div id = "sub_site_name_left"></div>
              <div id = "sub_site_name">
                  <?php echo $charity; ?><!-- SUB SITE NAME HERE -->
              </div>
              <div id = "sub_site_name_right"></div>

              <div id = "equipments_removed"></div>


  
            <div id="left-menu">
<?php if (!empty($left_menu)) echo $left_menu ?>
              <div id="menu_bottom"></div>
              <!--div id="bottom_left_repeat"></div-->

            </div><!-- Menu end -->
          
            <div id="content-area">
<?php if (!empty($content)) echo $content;
        echo $this->plugin_output;  ?>


      

    
    </div><!-- body -->
    <div style="clear:both;"></div>
  </div><!-- Outer container-->
  <div id="footer_container"><div id="footer">&copy; KaffaKarma.com. All rights reserved.</div></div>
</body>

</html>
