<html>
 <title><?php if (!empty($title)) echo $title ?></title>
<head>
<link href="css/k_coffee_new.css" rel="stylesheet" type="text/css">
 <?php if (!empty($js)) echo $js ?><?php if (!empty($css)) echo $css ?>
</head>
<body style="margin:auto;width:100%;text-align:center;height:800px;">

        <div style="margin:auto;width:100%;text-align:center;min-height:1100px;background-color:#f9f3e6;overflow:auto;">
                <div id="top-bg">
                    <div id="left-top"></div><div style="float:none;height:0px;width:0px;"></div>
                    <div id="right-top"></div>
                </div>


                <div id="left-menu">
                    <div id="m1">m1</div>
                    <div id="m2">m2</div>
                    <div id="m3">m3</div>
                    <div id="m4">m4</div>
                    <div id="m5">m5</div>

                    <div id="m_bottom"></div>
                </div>

                
        
                <div id="facebook"></div><div id="twitter"></div><div id="linked_in"></div>
                <div id="logo"></div>
                <div id="search_left"></div>
                <div id="search_box"></div>
                <div id="search_button"></div>
                <div id="open_new_account"></div>
                <div id="login"><br /><div id="login1">   <?php if ( $_SESSION[SESSION_TITLE.'userid'] > 0){ ?>
                <a id="login" href = "logout.php"><br />L o g o u t</a> 

            <?php } else { ?>
                <a id="login" href = "login.php"><br />L o g i n</a>
            <?php } ?></div></div>
            <div id="content">
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testaing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testingd  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testding  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testding  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing  testing <br />
            </div>
        </div>


        <div id="footer_container">
            <div id="footer">
                <a href="privacy_policy.php">Privacy Policy</a>
                <a href="terms_of_use.php">Terms of Use</a>
                <a href="disclaimer.php">Disclaimer</a>
                <a href="faq.php">FAQ</a>
                <a href="sitemap.php">Site Map</a>   &copy; KaffaKarma.com. All rights reserved.
            </div>
        </div>
    

</body>
</html>
